<div class="flex align-items-center justify-content-center min-h-screen surface-100">
    <div class="text-center">
        <img src="assets/demo/images/paw.png" alt="PetCare Logo" class="mb-5 w-10rem" />
        
        <h1 class="text-4xl font-bold text-primary mb-3">Welcome to Our PetCare App!</h1>
        
        <p class="text-700 text-xl mb-5">We're delighted to have you here. Manage your pets, book appointments, and explore everything PetCare offers.</p>
        
        <button pButton label="Get Started" icon="pi pi-arrow-right" class="p-button-raised p-button-rounded p-button-lg text-xl" [routerLink]="['/uikit/users']"></button>
    </div>
</div>
